body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2f2f2;
}

.calculator {
  background: #35633b;
  padding: 20px;
  border-radius: 10px;
  width: 260px;
}

#display {
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
  padding: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

button {
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 20%;
}

.operator {
  background: rgb(213, 149, 29);
  color: #f2f2f2;
}

#equals {
  background: #0bf42e;
  color: white;
}

#clear {
  background: red;
  color: white;
}

.zero {
  grid-column: span 2;
}
